extends layout

block content
  .d-flex.justify-content-center.align-items-center.min-vh-100
    .card.shadow.p-5.text-center(style="width: 400px;")
      h2.mb-4 Welkom, #[span#username]!
      .d-grid.gap-3
        a.btn.btn-primary.btn-lg(href='/users/') Klanten
        a.btn.btn-primary.btn-lg(href='/overons/') Over Ons
        button.btn.btn-danger.btn-lg#logoutBtn Logout
      #content.mt-4