extends layout

block content
  .d-flex.justify-content-center.align-items-center.min-vh-100
    .card.shadow.p-4(style="width: 350px;")
      h2.text-center.mb-4 Login
      form#loginForm
        .mb-3
          input.form-control(type="text", id="user", placeholder="Gebruikersnaam", required)
        .mb-3
          input.form-control(type="password", id="pwd", placeholder="Wachtwoord", required)
        button.btn.btn-primary.w-100(type="submit") Login
      p.mt-3.text-center
        | Nog geen account? 
        a(href="/auth/register") Registreer hier
