extends layout

block content
  .d-flex.justify-content-center.align-items-center.min-vh-100
    .card.shadow.p-4(style="width: 600px;")
      h1.text-center.mb-3 Over Ons
      p.text-center.mb-4 Hier vind je onze user stories en achtergrondinformatie over het project.
      h2.mb-3 User Stories
      ul.list-group.list-group-flush
        li.list-group-item Als beheerder wil ik kunnen registreren zodat ik een account heb.
        li.list-group-item Als beheerder wil ik kunnen inloggen zodat ik mijn data veilig kan bekijken.
        li.list-group-item Als beheerder wil ik gebruikers kunnen bekijken zodat ik overzicht heb.

