extends ../layout

block content
  div.card
    img(src="..." class="card-img-top" alt="...")
    div.card-body
      h5.card-title #{users.first_name}
      p.card.text Some quick example text to build on the card title and make up the bulk of the card’s content.
    ul(class="list-group list-group-flush")
      li.list-group-item #{users.last_name}
      li.list-group-item #{users.active}
      li.list-group-item #{users.email}
    div.card.body
      a(href='/users/' + users.customer_id + '/edit' class="btn btn-primary") Edit
      a(href="/" class="btn btn-warning") Cancel