extend ../layout

block content
  .d-flex.justify-content-center.align-items-center.min-vh-100
    .card.shadow.p-4(style="width: 400px;")
      h3.text-center.mb-4 Klantgegevens bewerken
      form(method='POST' action='/users/' + users.customer_id + '/edit')
        .mb-3
          label(for="firstName" class="form-label") Voornaam
          input.form-control(type="text", name='firstName', value=users.first_name, id="firstName", required)
        .mb-3
          label(for="lastName" class="form-label") Achternaam
          input.form-control(type="text", name='lastName', value=users.last_name, id="lastName", required)
        .mb-3
          label(for="active" class="form-label") Actief
          input.form-control(type="number", name='active', value=users.active, id="active", required)
        .mb-3
          label(for="exampleInputEmail1" class="form-label") E-mailadres
          input.form-control(type="email", name='email', value=users.email, id="exampleInputEmail1", aria-describedby="emailHelp", required)
          div#emailHelp.form-text We delen je e-mailadres nooit met anderen.
        .d-flex.justify-content-between.mt-4
          button.btn.btn-primary(type='submit') Opslaan
          button.btn.btn-secondary(type='button', onclick='window.location.href="/users/' + users.customer_id + '/details"') Annuleren